* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('/public/images/ImagensMecanica/TelaLogin-Registro.jpg'); /* Imagem do motor */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.login-container {
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

h1 span {
    color:  #F21D1D;
    ;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #F21D1D;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #F21D1D;
}

.new-user {
    margin-bottom: 20px;
}

.new-user a {
    color: #fff;
    text-decoration: none;
}

.new-user a:hover {
    text-decoration: underline;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.terms input[type="checkbox"] {
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1F1F1F;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
}

.footer-container p {
    margin: 0;
}

.social-icons img {
    width: 20px;
    margin-left: 10px;
    filter: brightness(0) invert(1);

}
