.main{
    margin-top: 150px;
}

.link{
    margin-top: 5%;
}

#cont{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.p-fale{
    font-size: 1.745rem;
    text-align: left;
    margin-left: 4%;
    margin-top: 2.5%;
}

.red-garage-{
    color: #ff0909;
}

.form-contato{
    display: block;
    margin-left: 4%;
}

.form-contato input{
    display: block;
    color: #fff;
    margin-bottom: 10px;
    width: 40%;
    background: none;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    outline: none;
    font-size: 1rem;
}

.form-contato .btn-enviar{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    margin-top: 20px;
    border-radius: 7px;
}
input:focus {
    width: 45%;
    transition: 0.3s;
    border-bottom: 2.5px solid #ff0909; /* Muda a cor da linha para branco */
}

.btn-enviar:hover{
    transition: 0.3s;
    background-color: #ff0909;
}

.texts-contato{
    margin-left: 41%;
    margin-top: -22%;
}

.text-contato{
    text-align: right;
    margin-right: 4%;
}

@media (max-width: 1024px){
    .text-contato{
        display: none;
    }
}